header
{
  font-size: 14px;
  overflow: hidden;
  background: #507299;
  line-height: 3;
  padding: 0 20px 0 20px;
  margin-bottom: 50px;
}
header ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li {
  float: left;
  /*padding: 0 10px 0 10px;*/
}
header ul li:hover {
  background-color: #2d2d2d;
}
header ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 3;
  padding: 0 10px 0 10px;
  display: inline-block;
}
header ul li a.active {
  color: red;
}
header .top-profile {
  float: right;
}
.top-profile-image {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin: 7px 0;
}
