.posts-right-menu {
  font-size: 13px;
  margin: 0;
  padding: 6px 0;
  list-style: none;
}

.posts-right-menu-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 32px;
  line-height: 31px;
  padding: 0 5px 0 20px;
  color: #2a5885;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.posts-right-menu-item:hover {
  background-color: #f0f2f5;
}

a.active .posts-right-menu-item {
    color: #000;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding-left: 18px;
    border-left: 2px solid #6285af;
    background-color: #f0f2f5;
}

.module {
  margin-top: 15px;
}
.module-header {
  height: 32px;
  line-height: 40px;
  overflow: hidden;
  padding: 0 15px;
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: 12.5px;
  letter-spacing: 0;
  outline: none;
  color: #000;
}
.module-body {
  padding: 12px 15px 15px;
  font-size: 12.5px;
}
.module-line {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 130%;
}
.module-image {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.module-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  max-height: 40px;
  border-radius: 50%;
  display: block;
}
.module-info {
  width: 147px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 4px 0 0 12px;
}

.module-info .name {
  margin-bottom: 2px;
}

.module-info .genre {
  font-size: 12px;
  max-height: 48px;
  overflow: hidden;
  color: #656565;
}
