.container {
  margin: 0 auto;
  width: 845px;
}
.narrow-column {
  float: right;
  width: 230px
}

.wide-column {
  margin-right: 245px;
  width: 600px
}

.page-block {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.page-block-header {
    display: block;
    background: #fafbfc;
    padding: 0 20px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
}

.page-block-body {
  font-size: 13px;
  padding: 15px 20px;
  line-height: 150%;
}

.profile-right-menu {
  font-size: 13px;
  margin: 0;
  padding: 6px 0;
  list-style: none;
}

.profile-right-menu-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 32px;
  line-height: 31px;
  padding: 0 5px 0 20px;
  color: #2a5885;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.profile-right-menu-item:hover {
  background-color: #f0f2f5;
}

a.active .profile-right-menu-item {
    color: #000;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding-left: 18px;
    border-left: 2px solid #6285af;
    background-color: #f0f2f5;
}
